<style>
    #background {
        position: fixed;
        top: 60%;
        left: -50%;
        width: 200%;
        height: 0%;
        z-index: -1;
    }

    #background img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
        filter: blur(3px);
    }
</style>
@{ 
    var apiUrl = ViewBag.apiUrl;
    var uiUrl = ViewBag.uiUrl;
}

<div id = background>
    <img src="~/images/movinghouse.jpg" alt=""/>
</div>

<script>
    var apiUrl = '@apiUrl';
    var uiUrl = '@uiUrl';
</script>
<div ng-app="accountModule" ng-controller="accountController">
    <div ui-view></div>
</div>
